@model EvilProject.Models.PageNews

@{
    ViewBag.Title = "Dodaj";
}


<script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/config.js"></script>
<script type="text/javascript" src="~/Scripts/ckeditor/adapters/jquery.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dodaj newsa</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.publish_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.publish_date)
            @Html.ValidationMessageFor(model => model.publish_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.body)
        </div>
        <div class="editor-field">
            
        @Html.TextAreaFor(model => model.body, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.body)
        </div>
        <p>
            <input type="submit" value="Dodaj" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
