@model EvilProject.Models.PageNews

@{
    ViewBag.Title = "Szczeguły";
}



    <div class="post">
	<h1 class="title"><a href="#"> @Html.DisplayTextFor(model => model.title)</a></h1>
	<p class="byline"><small>  @String.Format("{0}", Model.publish_date.ToString("yyyy-MM-dd HH:mm")) <a href="#">Broda Samo Zło</a></small></p>
	<div class="entry">
            @if(Request.IsAuthenticated) 
            {<p>   
                @Html.ActionLink("Edit", "Edit", "PageNews", new {  @Model.title }, new { @class = "editlinksmall" })
                @Html.ActionLink("Delete", "Delete", "PageNews", new { @Model.id }, new { @class = "deletelinksmall" })
                </p>
            }
		    <p>
                    @Html.DisplayTextFor(modelItem => @Model.body)
                <p class="links">@Html.ActionLink("Powrót", "Index", "Home", new { @Model.id }, new { @class = "more" })</p>
		    </p>
	    </div>
    </div>